.FormViewer{
    background-color: brown;
}

.FormHeader{
    /* height: 10%; */
    display:flex;
    align-items: stretch;
    border: solid #cbcbcb 1px;
    height: 10%;
    text-align: center;
    /* background: linear-gradient(#F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%); */
    background: linear-gradient(#f5f3f3 0%, #efefef 50%, #f7f7f7 51%, #fff 100%);
    box-shadow: 0 0 0 1px #707070;
}

.FormHeader span{
    width:50%;
    display: inline-block;
    /* padding: 5px; */
    height: 100%;
    cursor: default;
}