.Ul{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
}

.Li{
    /* border: black solid;
    border-width: 0px 1px 1px 1px; */
    /* border-bottom: solid black 1px; */
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    /* background-color: rgb(231, 231, 231); */
    background: linear-gradient(#F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    box-shadow: 0 0 0 1px #707070;
    border-bottom: 1px solid #F3F3F3;
    position: relative;
    z-index: 2;
}

.Li:hover{
    /* background-color: white; */
    border-bottom: 1px solid #ECF7FD;
    box-shadow: 0 0 0 1px #3C7FB1;
    background: linear-gradient(#EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
}

.Li:active{
    background: linear-gradient(#dfebf1 0%, #cee4f0 50%, #b2d8ee 51%, #9fcee9 100%);
}

.Item{
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    width: 80%;
}

.NewItem{
    width:100%;
    position: relative;
    z-index: 1;
}

/* Buttons */
.DeleteIcon, .EditIcon{
    cursor: pointer;
    position: absolute;
}
.DeleteIcon{
    right: 5px;
}
.EditIcon{
    right: 40px;
}
.DeleteIcon img, .EditIcon img{
    max-height: 24px;
    max-width: 24px;
    /* display: block;
    float:right;
    font-size: 1em;
    text-align: center; */
}


/* Edit name form */
.EditNameForm{
    background-color: White;
    box-sizing: border-box;
    width:100%;
    display: flex;
    align-items: stretch;
}

.EditNameForm input{
    border: 0;
    box-sizing: border-box;
    width: 80%;
    /* font-size: 1.2em; */
}

/* .EditNameForm button{
    background-color: lawngreen;
    box-sizing: border-box;
    width: 30%;
} */