.Figure{
    box-sizing: border-box;
    border: solid black 1px;
    min-width: 50%;
    background: rgba(89, 178, 255, 0.48);
    border-radius: 3px;
    box-shadow: inset 0 0 84px rgba(0, 154, 255, 0.43);
}

.Maximized{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 99999;
    background-color: white;
}

.Maximized iframe{
    height: 100%;
}
.Maximized .Header{
    height: 6%;
}
.Maximized .Plot{
    background-color: white;
    height: 92%;
}
.Maximized .Header .Title{
    font-size: 1.5em;
    width: 85%;
    margin:0;
}

.Maximized .Header .FullScreenButton, .Maximized .Header .CloseButton, .Maximized .Header .DownloadButton{
    margin:0;
    top:0;
}
.Maximized .Header img{
    max-height: 48px;
    max-width: 48px;
}
.Maximized .Header .DownloadButton img{
    max-height: 40px;
    max-width: 40px;
}
.Maximized .Header .FullScreenButton{
    right: 45px;
}
.Maximized .Header .DownloadButton{
    right: 85px;
    margin-top: 3px;
}

.Figure .Plot img{
    width: 100%;
    max-height: 100%;
    
}

.Figure iframe{
    height: 100%;
    box-sizing: border-box;
}

.Header{
    height: 10%;
    height: 7%;
    /* background-color: gainsboro;
    border-bottom: solid black 1px; */
    display: flex;
    align-items: center;
    padding-left: 5px;
    position: relative;
}

.Header .Title{
    display: block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /* font-size: 0.8em; */
    padding-left: 1%;
    /* transition: 0s; */
    margin-top: 1%;
    position: absolute;
    top: 0;
}
.Header .Title:hover{
    overflow: visible;
    background-color: #80c0f1;;
    z-index: 9999;
    white-space: break-spaces;
    /* padding: 1px; */
    /* border: solid black 1px; */
    height: max-content;
    /* margin-top: 2%; */
    cursor: default;
    /* transition-delay: 0.5s; */
}

.Maximized .Header .Title:hover{
    background-color: #def2ff;
}

.Header .FullScreenButton, .Header .CloseButton, .Header .DownloadButton{
    
    cursor: pointer;
    margin-top: 1%;
    position: absolute;
    margin-top: 2%;
    /*width:8%;
    display: inline-block;
    background-color: blue;
    text-align: center; */
}
.Header img{
    max-height: 24px;
    max-width: 24px;
}
.Header .CloseButton {
    right: 5px;
}

.Header .FullScreenButton {
    right: 30px;
}
.Header .DownloadButton {
    right: 55px;
}

.Plot{
    height: 90%;
    background-color: white;
    border:1px solid #000;
    margin:5px;
}