.Image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.Table{
    background-color: white;
}

.Table table{
    width:100%;
    height: 100%;
    text-align: center !important;
    border-collapse: collapse;
}
.Table thead{
    background-color: #619ed4;
}
.Table thead tr:hover{
    background-color: #619ed4;
}
.Table tr{
    border-bottom: solid #d4d2d2 1px;
}
.Table tr:nth-child(even){
    background-color: #f2f2f2;
}
.Table tr:hover {
    background-color: #ddd;
}