.Button {
    background-color: #4CAF50; /* Green */
    /* border: none; */
    /* color: white; */
    padding: 4px 4px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /* transition-duration: 0.4s;
    border: #c3c0c0 solid 1px; */

    border: 1px solid #F3F3F3;
    box-shadow: 0 0 0 1px #707070;
    border-radius: 3px;
    background: linear-gradient(#F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    margin: 0 5px;
    cursor: pointer;
    
}

.ButtonRow{
    float: left;
}
/* .Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
} */
.Button:hover{
    border: 1px solid #ECF7FD;
    box-shadow: 0 0 0 1px #3C7FB1;
    background: linear-gradient(#EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
}

.Button:active{
    background: linear-gradient(#dfebf1 0%, #cee4f0 50%, #b2d8ee 51%, #9fcee9 100%);
}
.Success {
    background-color:  #4CAF50;
}

.Primary {
    background-color: #008CBA;
}

.Danger {
    background-color: #944317;
}

.Button:disabled{
    opacity: 0.6;
    cursor: not-allowed;
}

.RunButton{
    /* padding: 3%; */
}