.Content{
    padding: 0 10%;
    background-color: #fafafa;
    overflow: auto;
}
.Content h1{
    margin-top:0;
}
.Content img{
    width: 8cm;
    height: auto;
    border-radius: 50%;
    border: 7px solid #4d4d4d;
    margin-bottom: 16px;
}