.OutputConsole{
    box-sizing: border-box;
    position: relative;
    height: 98%;
}

.Header{
    height: 9%;
    background-color: gainsboro;
    border: solid #909090 1px;
    display: flex;
    align-items: center;
    padding-left: 5px;
    margin: 0.25% 0.5%;
    cursor: default;
}

.Header .Title{
    display: block;
    width: 94%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.Messages{
    height: max-content;
    overflow: auto;
    box-sizing: border-box;
    background-color: #eee;
    height: 91%;
    margin: 0.25% 0.5%;
    border: solid #909090 1px;
}

.Time{
    font-size: 0.75em;
}
.Line{
    /* background-color: blue; */
    height: max-content;
    white-space: pre-wrap;
}

.Line.info{
    color: black;
}
.Line.warn{
    color: #a0a001;;
}
.Line.error{
    color: red;
}


/* .ClearButton{
    color: white;
    background-color: #008CBA;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    border: #c3c0c0 solid 1px;
    opacity: 0.5;
    position: absolute;
    bottom: 0;
    right: 0;
} */
.ClearButton{
    cursor: pointer;
    /* margin-top: 1%; */
    position: relative;
    font-size: 0.75em;
    padding-right: 3px;
}
.ClearButton img{
    max-width: 20px;
    max-height: 20px;
    /* display: inline-block;
    background-color: blue;
    text-align: center; */
}
