.ObjectList{
    width:100%; 
    height:98%;
    /* border: black solid; */
    border-width: 1px 0px 1px 1px;
}

.Header{
    /* cursor: auto;
    background-color: white;
    width: 100%;
    text-align: center;
    font-weight: bold; */

    height: 9%;
    background-color: gainsboro;
    border: solid #909090 1px;
    display: flex;
    align-items: stretch;
    padding-left: 5px;
    margin: 0.25% 0.5%;
    cursor: default;
}

.Title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.ListHolder{
    height: max-content;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #eee;
    height: 91%;
    margin: 0.25% 0.5%;
    border: solid #909090  1px;
}