.Tabs{
    height: 100.85%;
}

.TabsList {  
    padding-left: 0;
    margin: 0.5%;
    height: 5%;
    border: solid #909090 1px;
    background-color: gainsboro;
    cursor: pointer;
    min-width: max-content;
}

.TabContent{
    border: solid #909090 1px;
    margin: 0.5%;
    height: 95%;
    overflow: auto;
    background-color: #eee;
}