.Footer{
    /* background-color: grey; */
    box-sizing: border-box;

    
    background: rgba(95, 120, 138, 0.48);
    box-shadow: inset 0 0 84px rgba(0, 154, 255, 0.43);
    border: solid #6c7172;
    border-width: 1px 0 1px 0;

    position: relative;
    z-index: 9999;
}

.Form{ 
    float: left;
    display: flex;
    align-items: stretch;
    width:50%;
    height: 100%;
    color:white;
    font-weight: bold;
    padding-left: 10px;
}
.Form select{
    font-weight: normal;
}


.ButtonSection{
    display: flex;
    align-items: stretch;
    float:right;
}
/************************************/
.Show{
    display: block;
}

.Hide{
    display: none;
}
.MethodSelection{
    float: left;
    display: flex;
    align-items: stretch;
    width:50%;
}

.CustomLabel{
    color:white;
    font-weight: bold;
    padding-left: 10px;
    width: 35%;
    display: inline-block;
    padding-top: 1%;
    min-width: max-content;
}
.Dropdown {
    position: relative;
    display: flex;
    align-items: center;
    width: 65%;
    float: left;
    user-select: none;
}

.Dropdown .CustomSelect{
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    border: solid 1px gray;
    box-sizing: border-box;
    padding-left: 10px;
}

.Dropdown .Marker{
    background: linear-gradient(#F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    position: absolute;
    right: 0;
    width: 24px;
    height: 100%;
    box-sizing: border-box;
    border: solid 1px gray;
}

.Dropdown:hover .Marker{
    background: linear-gradient(#EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
}

.Dropdown .Marker:after{
    content: '';
    position: absolute;
    border-right:2px solid black;
    border-bottom:2px solid black;
    width:5px;
    height:5px;
    top: calc(50% - 3px);
    /* top: 10px; */
    right: 8px;
    transition: 0.2s;
    transform: translateY(-50%) rotate(+45deg);
}
.DropdownContent {
    /* display: none; */
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    bottom: 0;
    z-index: 1;
    height: auto;
    width: max-content;
    max-height: 100vh;
    overflow: auto;
    border: solid 1px gray;
    user-select: none;
}
/* .Dropdown .DropdownContent:focus{
    display:none;
}

.Dropdown:focus .DropdownContent {
    display: block;
} */

.DropdownContent div{
    width: 100%;
}

.DropdownContent .OpitonHeader{
    background-color: rgb(249, 249, 249);
    padding: 5px;
    font-weight: bold;
    pointer-events: none;
}

.DropdownContent .Opiton{
    background-color: white;
    padding: 5px;
    padding-left: 15px;
}

.DropdownContent .Opiton:hover {
    background-color: rgb(39, 126, 167);
    color: white;
}
.Heading1, .Heading2, .Heading3, .Heading4, .Heading5{
    background-color: rgb(249, 249, 249);
    padding: 5px;
    font-weight: bold;
    pointer-events: none;
}

.Option1, .Option2, .Option3, .Option4, .Option5{
    background-color: white;
    padding: 5px;
    padding-left: 15px;
}
.Option1:hover, .Option2:hover, .Option3:hover, .Option4:hover, .Option5:hover{
    background-color: rgb(39, 126, 167);
    color: white;
}

.Heading1{
    padding-left: 2px;
}
.Heading2{
    padding-left: 12px;
}
.Heading3{
    padding-left: 22px;
}
.Option1{
    padding-left: 8px;
}
.Option2{
    padding-left: 18px;
}
.Option3{
    padding-left: 28px;
}
/************************************/

