html, body, #root, .App, div{
    height: 100%;
    box-sizing: border-box;
}
body{
  background-color:rgb(222, 222, 222);
}

.tooltip-parent:hover > .tooltip {
  /* display:block; */
  visibility: visible;
  opacity: 1;
  transition-delay: 0.5s;
}

.tooltip {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;

  background-color: yellow;
  font-size: 0.75em;
  border: solid black 1px;
  margin-left: -88px;
  margin-top: 10%;
  position: absolute;
  padding: 2px;
  z-index: 999999999;
  
}


/* .accordion{
  margin:0;
  padding-left: 25px;
}

.accordion__input {
    position: absolute;
    opacity: 0;
  }
  
.accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  background: var(--cd-color-1);
  box-shadow: inset 0 -1px lightness(var(--cd-color-1), 1.2);
  color: var(--color-white);
}
.accordion__sub {
  display: none;
}
  
.accordion__input:checked ~ .accordion__sub { 
  display: block;
  padding-left: 20px;
}


#arrow {
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}



ul li {
position: relative;
padding-bottom: 10px;
}

ul {
list-style: none;
}

ul .accordion__item--has-children:before{
 content: '';
 position: absolute;
 border-right:2px solid black;
 border-bottom:2px solid black;
 width:5px;
 height:5px;
 top: calc(50% - 4px);
 top: 10px;
 left: -20px;
 transform: translateY(-50%) rotate(-45deg);
} */

/* .cd-accordion__item--has-children:before{
  content: '';
  position: absolute;
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:5px;
  height:5px;
  top: calc(50% - 4px);
  top: 10px;
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
 } */
