/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* OpenSans */
/* @font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
} */


@font-face {
  font-family: "customCalibri";
  src: url("./fonts/Calibri/Calibri-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "customCalibri";
  src: url("./fonts/Calibri/Calibri-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "customCalibri";
  src: url("./fonts/Calibri/Calibri-Bold.TTF") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "customCalibri";
  src: url("./fonts/Calibri/Calibri-Bold-Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
input, button, select{
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
}

body {
  margin: 0;
  /* font-family: 'OpenSans';
  font-family: 'Calibri', 'OpenSans';font-size:0.9em; */
  font-family: 'customCalibri', 'Calibri';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
