.Input, .Label, .InputElement{
    box-sizing: border-box;
}

.Label, .Input{
    border-color: #cbcbcb;
    border-style: solid;
}

.Label, .InputElement{
    width: 50%;
    display: inline-block;
    padding: 5px;
}

.Input {
    width: 100%;
    border-width: 0 1px 1px 1px;
    display: flex;
    align-items: stretch;
}

.Label {
    border-width:0 1px 0 0;
    background-color: white;
}

.InputElement {
    border:0;
    margin: 0;
}

.InputElement:focus {
    
}

.RunInput, .RunInputElement, .RunLabel{
    box-sizing: border-box;
}

.RunInput{
    display: flex;
    align-items: stretch;
    width:100%;
}

.RunInputElement{
    width: 65%;
    display: inline-block;
}

.RunLabel{
    width: 35%;
    display: inline-block;
    padding-top: 1%;
    min-width: max-content;
}

.NotDisplayed{
    display: none;
}
