.Header {
    background-color: #F1F1F1;
    padding: 5px;
    box-sizing: border-box;
    height: 100%;

    /* border-radius: 3px; */
    /* background: rgba(89, 178, 255, 0.48); */
    background: rgba(95, 120, 138, 0.48);
    box-shadow: inset 0 0 84px rgba(0, 154, 255, 0.43);
    /* box-shadow: inset 0 0 27px rgba(90, 140, 175, 0.48); */
    /* background-color: #5f788a; */
    /* border: solid black 1px; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 21%, rgba(0,212,255,1) 100%); */
    border: solid #6c7172;
    border-width: 1px 0 1px 0;
  }

.Title{
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  float: left;
  width: 40%;
}

.Navigation{
  /* width: 20%; */
  float: right;
}

.Links{
  padding: 0 10px;
}

.Header a{
  text-decoration: none;
  color: white;
}