.Item {
    display: inline-block;
    list-style: none;
    /* margin-bottom: -1px; */
    /* padding: 0.5rem 0.75rem; */
    padding: 0.2em 0.4em 0 0.25em;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #F3F3F3;
    box-shadow: 0 0 0 1px #707070;
    border-radius: 3px;
    background: linear-gradient(#F2F2F2 0%, #EBEBEB 50%, #DDDDDD 51%, #CFCFCF 100%);
    color: black;
    text-decoration: none;
  }

  .Item:hover{
    border: 1px solid #ECF7FD;
    box-shadow: 0 0 0 1px #3C7FB1;
    background: linear-gradient(#EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
  }
  
.ItemActive {
    /* background-color: rgb(248, 247, 247);
    border: solid #ccc;
    border-width: 1px 1px 0 1px; */
    background: white;
  }
.ItemActive:hover{
  background: rgb(246, 246, 246);
  border:1px solid #F3F3F3;
}