.accordion{
  margin:0;
  padding-left: 20px;
}

.accordion__input {
    position: absolute;
    opacity: 0;
  }
  
.accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  background: var(--cd-color-1);
  box-shadow: inset 0 -1px lightness(var(--cd-color-1), 1.2);
  color: var(--color-white);
  cursor: pointer;
}
.accordion__sub {
  display: none;
}
  
.accordion__input:checked ~ .accordion__sub { 
  display: block;
  padding-left: 20px;
}


#arrow {
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:10px;
  height:10px;
  transform: rotate(-45deg);
  margin-top:40px;
}



.accordion  ul li, .accordion__item ul li, .accordion__item.accordion__item--has-children{
position: relative;
/* padding-bottom: 10px; */
cursor: pointer;
min-width: max-content;
}

.accordion__item ul li{
  padding: 1px;
}
.accordion__item:not(.accordion__item--has-children):hover{
  background-color: #d5d5d5;
}
.accordion__label:hover{
  background-color: #d5d5d5;
}

.accordion ul,  .accordion__item ul, .accordion__item.accordion__item--has-children{
list-style: none;
}

/* ul .accordion__item--has-children:before{
  content: '';
  position: absolute;
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:5px;
  height:5px;
  top: calc(50% - 4px);
  top: 10px;
  left: -20px;
  transform: translateY(-50%) rotate(-45deg);
} */

.accordion__input + label:before{
  content: '';
  position: absolute;
  border-right:2px solid black;
  border-bottom:2px solid black;
  width:5px;
  height:5px;
  top: calc(50% - 4px);
  top: 10px;
  left: -15px;
  transition: 0.2s;
}
.accordion__input:checked + label:before{
  transform: translateY(-50%) rotate(+45deg);
}
.accordion__input:not(:checked) + label:before{
  transform: translateY(-50%) rotate(-45deg);
}

li.accordion__item {
  list-style: none;
}

.accordion__item--selected{
  /* background-color: #b5b5bc; */
  border: 1px solid #b1b1b1;
  background: linear-gradient(#EAF6FD 0%, #D9F0FC 50%, #BEE6FD 51%, #A7D9F5 100%);
  border-radius: 3px;
}
  